<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocimum Basilicum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<body>
    <div class="content">
        <h1>Ocimum Basilicum</h1>
        <h3 id="madeby">By Peter, Kahaf, and Aviv</h3>
        <a href="/upload-page" class="button">
            <div class="button-container">
                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                <h1>Genre Classification</h1>
            </div>
        </a>
        <a href="/prepare" class="button">
            <div class="button-container">
                <i class="fa fa-external-link" aria-hidden="true"></i>
                <h1>Prepare Data Set</h1>
            </div>
        </a>
    </div>
</body>
</html>